
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteRule ^^get-weather\/([^\/]*)\/([^\/]*)\/$ /wp-content/plugins/live-weather-station/generator.php?type=$matches[2]&station=$matches[1] [QSA,L]
RewriteRule ^^get-weather\/([^\/]*)\/([A-Z]*)_stickertags\.txt$ /wp-content/plugins/live-weather-station/generator.php?type=stickertags&station=$matches[1]&subformat=$matches[2] [QSA,L]
RewriteRule ^^get-weather\/([^\/]*)\/clientraw\.txt$ /wp-content/plugins/live-weather-station/generator.php?type=clientraw&station=$matches[1]&subformat=$matches[2] [QSA,L]
RewriteRule ^^get-weather\/([^\/]*)\/realtime\.txt$ /wp-content/plugins/live-weather-station/generator.php?type=realtime&station=$matches[1]&subformat=$matches[2] [QSA,L]
RewriteRule ^^get-weather\/([^\/]*)\/YoWindow\.xml$ /wp-content/plugins/live-weather-station/generator.php?type=yowindow&station=$matches[1]&subformat=$matches[2] [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress